
@{
    ViewData["Title"] = "Result page";
    var deletedUserName = (string)ViewBag.DeletedUserName;
}
<h1>@ViewData["Title"]</h1>

<p>Person @deletedUserName was removed from the list successfully!</p>
